Options -Indexes
<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|phtml|phar|cgi|pl|asp|aspx)$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php|phtml|phar|cgi|pl|asp|aspx)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
